@import 'bootstrap';
@import './masthead.css';


body{

    background-color:antiquewhite
}

footer{
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: flex-end;   /* Spinge in basso */
  height: 100vh;           /* Occupa tutta l'altezza dello schermo (esempio) */
}
