




.masthead {
    background-color: yellow;
    min-height: 300px;
    border: 10px solid red;
}

.fw-light {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


